// colors
$primary: #008484;
$primary-dark: #005151;
$primary-light: #00c8c8;
$primary-lighter: #c8ffff;

$secondary: #716bc7;
$secondary-dark: #4e46b9;
$secondary-light: #a09cda;
$secondary-lighter: #e7e6f6;

$danger: #db3939;
$danger-dark: #b02020;
$danger-light: #e88181;
$danger-lighter: #f8d7d7;

$warning: #e8c647;
$warning-dark: #d1a91a;
$warning-light: #f1dd92;
$warning-lighter: #f9f0cf;

$grey: #6a6e70;
$text-color: #515456;
$text-color-light: #94989b;
$text-disabled: #c9cbcc;
$background-color: #f7f7f7;
$white: #ffffff;
$black: #031a24;

// typography
$base-type-value: 1rem;
$scale-ratio: 1.2;

$text-xs: $base-type-value / ($scale-ratio * $scale-ratio);
$text-s: $base-type-value / $scale-ratio;
$text-m: $base-type-value * $scale-ratio;
$text-l: $base-type-value * $scale-ratio * $scale-ratio;
$text-xl: $base-type-value * $scale-ratio * $scale-ratio * $scale-ratio;
$text-xxl: $base-type-value * $scale-ratio * $scale-ratio * $scale-ratio * $scale-ratio;

h1, h2, h3, p {
  font-weight: normal;
  font-size: $base-type-value;
  line-height: $base-type-value * 1.5;
  color: $text-color;
  margin: 0;
}

h1 {
  font-size: $text-xxl;
}

h2 {
  font-size: $text-xl;
}

h3 {
  font-size: $text-l;
}

p {
  font-size: $text-m;
}

.font-size-s {
  font-size: $text-s;
}

.font-size-xs {
  font-size: $text-xs;
}

// spacing
$base-space-value: 1.5rem;

$space-xs: $base-space-value / 3;
$space-s: $base-space-value / 2;
$space-m: $base-space-value;
$space-l: $base-space-value * 2;
$space-xl: $base-space-value * 3;

.inset-xs {
  box-sizing: border-box;
  padding: $space-xs;
}

.inset-s {
  box-sizing: border-box;
  padding: $space-s;
}

.inset-m {
  box-sizing: border-box;
  padding: $space-m;
}

.inset-l {
  box-sizing: border-box;
  padding: $space-l;
}

.inset-xl {
  box-sizing: border-box;
  padding: $space-xl;
}

.inset-squish-s {
  box-sizing: border-box;
  padding: $space-xs $space-s;
}

.inset-squish-m {
  box-sizing: border-box;
  padding: $space-s $space-m;
}

.inset-squish-l {
  box-sizing: border-box;
  padding: $space-m $space-l;
}

.inset-stretch-s {
  box-sizing: border-box;
  padding: $space-s $space-xs;
}

.inset-stretch-m {
  box-sizing: border-box;
  padding: $space-m $space-s;
}

.stack-xs {
  margin-bottom: $space-xs;
}

.stack-s {
  margin-bottom: $space-s;
}

.stack-m {
  margin-bottom: $space-m;
}

.stack-l {
  margin-bottom: $space-l;
}

.stack-xl {
  margin-bottom: $space-xl;
}

.inline-xs {
  margin-right: $space-xs;
}

.inline-s {
  margin-right: $space-s;
}

.inline-m {
  margin-right: $space-m;
}

.inline-l {
  margin-right: $space-l;
}

.inline-xl {
  margin-right: $space-xl;
}

// shadows
.shadow-light {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-dark {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// gradients
.horizontal-primary-gradient {
  background: $primary;
  background: linear-gradient(90deg, $primary 35%, $primary-dark 100%);
}

.vertical-primary-gradient {
  background: $primary;
  background: linear-gradient(180deg, $primary 35%, $primary-dark 100%);
}

// border styles
.curved-border {
  border: solid 1px $grey;
  border-radius: 0.2rem;
}

.border-regular {
  border: solid 1px $grey;
}

.border-bold {
  border: solid 3px $grey;
}

// mixins
@mixin respond-to($media) {
  @if $media==mobile {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media==wide-screens {
    @media only screen and (min-width: $break-small + 1) {
      @content;
    }
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin vertical-center() {
  display: flex;
  align-items: center;
}

@mixin absolute-right() {
  position: absolute;
  right: 0;
}

@mixin absolute-fill() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin pseudo-selector($size: 4px) {
  content: "";
  width: $size;
  height: $size;
  transform: rotateZ(45deg);
}

@mixin caret($size: 4px, $center: false, $invert: false) {
  @include pseudo-selector($size);
  @include absolute-right();
  @if ($center == true) {
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
  }
  @if ($invert == true) {
    transform: translateY(-50%) rotateZ(225deg);
  }
  border-right: solid 2px $caret-color;
  border-bottom: solid 2px $caret-color;
}

.dib {
  display: inline-block;
}